


@using (Ajax.BeginForm("getList", "Attendances", new { Id = @ViewBag.Id }, new AjaxOptions { UpdateTargetId = "selectList" }, htmlAttributes: new { @class = "form-horizontal", id = "SelectBatch" }))
{
    <div class="form-group">
        @Html.Label("Attendance Day", htmlAttributes: new { @class = "col-sm-3 control-label", })
        <div class="col-md-9">
            @Html.DropDownList("Date", (IEnumerable<SelectListItem>)ViewBag.dateList, "Select Date", htmlAttributes: new { @class = "" })
        </div>
    </div>
}

<script>

    //selecting value
    $(document).ready(function () {
        $("#Date").change(function () {
            $('option:selected', $(this)).text();
            $(this).parents('form').submit();
        });
    });
</script>

