@{
    ViewBag.Title = "Confirm Email";
}


<div class="container" style="width: 100%;text-align: center;height: 520px;background-color: white;">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="page-section">
                <p style="text-align:center">
                    Thank you for confirming your email. Please <strong>@Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</strong>
                </p>

            </div>
        </div>
    </div>
</div>