@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="container" style="width: 100%;text-align: center;height: 520px;background-color: white;">
    <div class="row">
        <div class="col-lg-9 col-md-8">
            <div class="page-section">
                <p>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </div>
    </div>
</div>